body {
    text-align: center;
}
h2 {
    font-family: Arial;
    color: blue;
    font-size: 50px;
}
table {
    border-collapse: collapse;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
th {
    border: 1px solid #ffffff;
    font-size: 20px;
    border-bottom: gray;
}

tr:first-child{
    color:white;
    background-color: orange;
    font-weight: bold;
}
tr:first-child > th:first-child {
    background-color: red!important;
}
tr:first-child > th:last-child {
    background-color: blue!important;
}
tr:nth-child(2) > th:first-child {
    color:red;
}
tr:nth-child(2) > th:last-child {
    color:blue;
}
tr {

    font-size: 40px;
    font-weight: bold;
}

tr > td:first-child{
    color: red;
}
tr > td:last-child{
    color: blue;
}
td {
    border: 1px solid gray;
}
sub {
    font-size: 20px!important;
    margin-left: -10px;
    color:#000000;
}